body{
    font-family: 'Oswald', sans-serif;
    letter-spacing:2px;
}
.container{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
#submit{
    background-color: #3B6285;
}

#advisoryRow{
    background-color:#FBB88C;
    opacity: 0.8;
    border-radius: 25px;
    padding:5px;

}
.card{
    border-radius:15px;
    border:none !important;
    text-transform: uppercase; 
    background-color: rgba(255,255,255, 0.2) !important;
}

#eventCard{
    max-height: 400px;
    overflow:auto;
}

#flightCard{
    max-height: 400px;
    overflow:auto;
}

#attractionCard{
    max-height: 400px;
    overflow:auto;
}

footer{
    font-size: 10px;
}

.navbar{
    background-color: rgba(255,255,255, 0.2) !important;
    
}

