body{
    font-family: 'Oswald', sans-serif;
    letter-spacing:2px;
}

.jumbotron{
    background-color: rgba(255,255,255, 0.2) !important;
    font-family: 'Oswald', sans-serif;  
    letter-spacing:2px;
    height:200px;
}

.container{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}
#submit{
    background-color: #3B6285;
}

.card{
    border-radius:15px;
    border:none !important;
    text-transform: uppercase; 
    background-color: rgba(255,255,255, 0.2) !important;
}

#eventCard{
    max-height: 400px;
    overflow:auto;
}

#flightCard{
    max-height: 400px;
    overflow:auto;
}

#attractionCard{
    max-height: 400px;
    overflow:auto;
}

footer{
    font-size: 10px;
}

